.lights {
    background-color: black;
    margin-top: 50px;
    display: block;
    width: 60px;
    padding: 5px;
    height:170px;
    border-radius: 5%;



}
.light {
    border-radius: 50%;
    background-color: blueviolet;
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
    

    
}

.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.glow {
    box-shadow: 0px 0px 9px 4px  rgba(255,255,159,0.9);
}